body {
    background: #cf4daf;
    background: url("images/ch-bg-9402828342.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    color: rgb(247, 242, 242);
    text-align: center;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

  
  h1 {
    font-family:  Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 3em;
  }
  
  h3 {
    font-family:  Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 2em;
  }

  p {
    font-size: 3em;
  }
  
  
  .container {
    width: 650px;
    margin: 10px auto;
  }
  .container:after {
    content: "";
    display: table;
    clear: both;
  }
  
  [data-view="card"] {
    width: 100px;
    height: 150px;
    border: solid 1px #242121;
    border-radius: 5px;
    float: left;
    margin: 10px;
    cursor: pointer;
    background-repeat: no-repeat;
    background: url("images/Carrying-the-presents.jpg") left center no-repeat rgb(240, 240, 240);
    background-size: contain;
  }
  
  .flipped {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
    transform: rotateY(0deg);
  }
  
  .reverse {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
    transform: rotateY(180deg);
  }
  
  .correct {
    opacity: 0.5;
    cursor: default;
    transform-style: preserve-3d;
    position: relative;
    transform: rotateY(0deg);
  }
  
  .correct[data-item="1"],
  .flipped[data-item="1"] {
    background: url("images/img1.JPG") left center no-repeat rgb(15, 14, 14);
    background-size: cover;
  }
  
  .correct[data-item="2"],
  .flipped[data-item="2"] {
    background: url("/images/img2.JPG") left center no-repeat rgb(15, 14, 14);
    background-size: cover;
  }
  
  .correct[data-item="3"],
  .flipped[data-item="3"] {
    background: url("/images/img3.JPG") left center no-repeat rgb(15, 14, 14);
    background-size: cover;
  }
  
  .correct[data-item="4"],
  .flipped[data-item="4"] {
    background: url("/images/img4.JPG") left center no-repeat  rgb(15, 14, 14);
    background-size: cover;
  }
  
  .correct[data-item="5"],
  .flipped[data-item="5"] {
    background: url("/images/img5.JPG") left center no-repeat rgb(15, 14, 14);
    background-size: cover;}